<div class="sidebar-area" id="sidebar-area">
    <div class="logo position-relative">
        <a href="/dashboard" class="d-block text-decoration-none position-relative">
            <img src="~/images/logo-icon.png" alt="logo-icon" />
            <span class="logo-text fw-bold text-dark">MTT</span>
        </a>
        <button
            class="sidebar-burger-menu bg-transparent p-0 border-0 opacity-0 z-n1 position-absolute top-50 end-0 translate-middle-y"
            id="sidebar-burger-menu">
            <i data-feather="x"></i>
        </button>
    </div>

    <aside id="layout-menu" class="layout-menu menu-vertical menu active" data-simplebar>
        <ul class="menu-inner">
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">MAIN</span>
            </li>
            
            <li class="menu-item open">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="menu-link @(Context.Request.Path == "/" ? "active" : "")">
                    <span class="material-symbols-outlined menu-icon">
                        dashboard_customize
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle active">
                    <span class="material-symbols-outlined menu-icon">
                        directions_car
                    </span>
                    <span class="title">
                        Reservations
                    </span>
                </a>
                <ul class="menu-sub @(Context.Request.Path.StartsWithSegments("/VehicleReservation") ? "open" : "")">
                    <li class="menu-item">
                        <a asp-area="" asp-controller="VehicleReservation" asp-action="Index"
                           class="menu-link @(Context.Request.Path == "/VehicleReservation" ? "active" : "")">
                            Reservation List
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="menu-item">
                            <a asp-controller="VehicleReservation" asp-action="Create"
                               class="menu-link @(Context.Request.Path == "/VehicleReservation/Create" ? "active" : "")">
                                Create Reservation
                            </a>
                        </li>
                    }
                </ul>
            </li>
            
            @if (User.IsInRole("Approver"))
            {
                <li class="menu-item open">
                    <a asp-area="" asp-controller="VehicleReservation" asp-action="MyApprovals" class="menu-link @(Context.Request.Path == "/VehicleReservation/MyApprovals" ? "active" : "")">
                        <span class="material-symbols-outlined menu-icon">
                            task_alt
                        </span>
                        <span class="title">Approvals</span>
                    </a>
                </li>
            }
            
            @if (User.IsInRole("Admin"))
            {
                <li class="menu-title small text-uppercase">
                    <span class="menu-title-text">REPORT</span>
                </li>
                
                <li class="menu-item">
                    <a asp-area="" asp-controller="VehicleReservation" asp-action="Report" class="menu-link @(Context.Request.Path == "/VehicleReservation/Report" ? "active" : "")">
                        <span class="material-symbols-outlined menu-icon">assessment</span>
                        <span class="title">Reservation Report</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a asp-area="" asp-controller="ActivityLog" asp-action="Index" class="menu-link @(Context.Request.Path.StartsWithSegments("/ActivityLog") ? "active" : "")">
                        <span class="material-symbols-outlined menu-icon">history</span>
                        <span class="title">Activity Logs</span>
                    </a>
                </li>
                
                <li class="menu-title small text-uppercase">
                    <span class="menu-title-text">MASTER DATA</span>
                </li>
                
                <li class="menu-item">
                    <a asp-area="" asp-controller="Vehicle" asp-action="Index" class="menu-link @(Context.Request.Path.StartsWithSegments("/Vehicle") ? "active" : "")">
                        <span class="material-symbols-outlined menu-icon">directions_car</span>
                        <span class="title">Vehicles</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a asp-area="" asp-controller="Driver" asp-action="Index" class="menu-link @(Context.Request.Path.StartsWithSegments("/Driver") ? "active" : "")">
                        <span class="material-symbols-outlined menu-icon">person</span>
                        <span class="title">Drivers</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a asp-area="" asp-controller="Maintenance" asp-action="Index" class="menu-link @(Context.Request.Path.StartsWithSegments("/Maintenance") ? "active" : "")">
                        <span class="material-symbols-outlined menu-icon">build</span>
                        <span class="title">Vehicle Maintenance</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a asp-area="" asp-controller="Region" asp-action="Index" class="menu-link @(Context.Request.Path.StartsWithSegments("/Region") ? "active" : "")">
                        <span class="material-symbols-outlined menu-icon">map</span>
                        <span class="title">Regions</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a asp-area="" asp-controller="Location" asp-action="Index" class="menu-link @(Context.Request.Path.StartsWithSegments("/Location") ? "active" : "")">
                        <span class="material-symbols-outlined menu-icon">location_on</span>
                        <span class="title">Locations</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a asp-area="" asp-controller="FuelConsumption" asp-action="Index" class="menu-link @(Context.Request.Path.StartsWithSegments("/FuelConsumption") ? "active" : "")">
                        <span class="material-symbols-outlined menu-icon">local_gas_station</span>
                        <span class="title">Fuel Consumption</span>
                    </a>
                </li>
            }


            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">OTHERS</span>
            </li>

            <li class="menu-item">
                <a asp-controller="Account" asp-action="Profile" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">account_circle</span>
                    <span class="title">My Profile</span>
                </a>
            </li>

            <li class="menu-item">
                <a asp-controller="Account" asp-action="Logout" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">logout</span>
                    <span class="title">Logout</span>
                </a>
            </li>
        </ul>
    </aside>
</div>